
.todo {
  border-style: hidden;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
  background-color: whitesmoke;
  color: rgb(59, 58, 58);  
}

.user {
  text-align: left;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 30px;
  padding: 40px;
  background-color: whitesmoke;
  color: rgb(59, 58, 58);
  border-top: 50px solid rgb(99, 98, 98);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}

.buttons {
    font-size: 25px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(145, 145, 145);
    background-color:rgba(145, 145, 145, 0.158);
    color: rgb(59, 58, 58);
    padding: auto;
    margin: 15px;   
} 

label {
    margin: 0 auto;
     display: block;
     font-size: 25px;
     color: rgb(59, 58, 58);
     padding: 5px;
}

.textBox {
    width: 20em;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(121, 121, 121);
    color: rgb(59, 58, 58);
    padding: 5px;
}

.tasksBtn {
    width: 20em;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(121, 121, 121);
    color: rgb(59, 58, 58);
    padding: 5px;
}